/* ---------- Global ---------- */

body {
	background-color: #EBE7DC;
	font-family: menlo, source code pro, lucia console, monospace;;
	font-size: 11px;
	line-height: 1.75em;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	word-wrap: break-word;
}

h3 {
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0;
}

li {
	display: block;
	padding: 1px;
}