body.gray {
	background-color: #B9B9B9;
}

.gray .pass-fail-divider {
	background-color: #7C9FAA;
}

.gray ul {
	color: #40444D;
}

.gray .scoped {
	background-color: rgba(89, 61, 30, 0.12);
}

.gray .current-scope, .gray .scoped.current-scope {
	background-color: rgba(134, 134, 134, 0.5);
}

.gray .parameter-container {
	color: #615750;
}

.gray .tag-type {
	color: #333;
}

.gray .name {
	color: #111;
}

.gray .function > div .name, .gray .macro > div .name {
	color: #663615;
}